{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %}You registered {% endblock %}
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}" />
{% endblock %}
{% block main_heading %}
Thanks for signing up
{% endblock %}
{% block body %}
<section id="confirmation">
    <h2>You registered successfully</h2>
    <p>Thanks for signing up -- see you there.</p>
    <p>If you can't make it, Please <a href="mailto:{{ organizer_email }}">contact the organizer.</a></p>
</section>
<section>
    <p>You can sign up for more meetups.</p>
    <p><a href="/meetups" class="btn">Explore other meetups.</a></p>
</section>
{% endblock %}